# Config
config.ini

# Environment
.env/

# Database
db.sqlite3

# Build garbage
__pycache__/
migrations/
build/
dist/
main.spec
src/client/custoMM_installer.exe

# VSCode garbage
.vscode/

# LCU_connector leftover
riotgames.pem
test.py
