<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>custoMM</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'leaderboard/style.css' %}">
</head>
<body>
  <!-- Center container -->
  {% block content %}{% endblock %}
  <!-- Input field with text above it. -->
  <div class="container">
    <h1>custoMM</h1>
    <form action="/leaderboard" method="POST">
      <label for="name">Enter your name:</label>
      <input type="text" id="name" name="name" required>
      <input type="submit" value="Submit">
    </form>
</body>
</html>